h2.card__title--custom,
h3.card__title--custom
{
	text-align: center;
	margin-top: 20px;
}

.card--custom{
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.button--signup,
.button--login {
	width: 25%;
	margin: 0 auto;
	display: block;
	background: #000000;
	padding: 5px 2px 7px 10px;
	border: 1px solid white;
}

.button--facebook,
.button--google {
	margin: 0 auto;
	display: block;
}

.card--customA{
	margin: 0 auto;
	height: 300px;
	width: 200px;
}

.card_content--cutom{
	margin-bottom: 15px;
}
