@font-face {
  font-family: 'AlleanaScript';
  src: url('../../assets/fonts/AlleanaScript.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/AlleanaScript.woff') format('woff'), url('../../assets/fonts/AlleanaScript.ttf')  format('truetype'), url('../../assets/fonts/AlleanaScript.svg#AlleanaScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BreeSerif-Regular';
  src: url('../../assets/fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/BreeSerif-Regular.woff') format('woff'), url('../../assets/fonts/BreeSerif-Regular.ttf')  format('truetype'), url('../../assets/fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlikeAngular-Regular';
  src: url('../../assets/fonts/AlikeAngular-Regular.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/AlikeAngular-Regular.woff') format('woff'), url('../../assets/fonts/AlikeAngular-Regular.ttf')  format('truetype'), url('../../assets/fonts/AlikeAngular-Regular.svg#AlikeAngular-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


h2.title{
	text-align: center;
	margin: 0px;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 45px;
}

h2.tiny_text {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 20px;
}


/*h3.card__title--custom2{
	text-align: center;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 15px;
	margin: -5%;
  padding-top: 30px;

}*/
h2.subtitle{
	text-align: center;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 15px;
	margin: 2px 0px 0px 0px;
}

h3.welcome--subtitle{
	text-align: center;
	margin: 0px;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 20px;
}
.card--custom{
	height: 300px;
	background-image: url("../images/image1.png"); ;
	background-position: center;
  	margin-bottom: 15px;
}

h2.location_card--title{
	font-family: 'BreeSerif-Regular', serif;
	font-size: 20px;
}

.button--signin {
	width: 400px;
	margin: 30px auto 30px auto;
	display: block;
	background: #FF2A67;
	padding: 50px 10px 50px 10px;
	color: black;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: lowercase;

}
.button--signup{
}
.button--login {
	padding: 15px;
	border-color: black;
}

.logoimage {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 10px;
	background-color: #FF2A67;
	padding-right: 8px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.star_rating{

}

h2.title--form{
  text-align: center;
  font-family: 'BreeSerif-Regular', serif;
  font-size: 30px;
}

h2.subtitle--form{
	text-align: center;
	display: block;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

.button--social {
  display: inline-block;
  width: 100px;
  height:100px;
  background-color: #FF2A67;
  /* position: relative; */
  margin: 5px;
  color: black;
}
.button--homepage {
  display: inline-block;
  width: 35%;
  height: 159px;
  background-color: #FF2A67;
  /* position: relative; */
  margin: 5px;
  color: black;
}

.social_buttons{
}

.social_buttons_inner{
  margin: 0 auto;
  text-align: center;
}

.center_element{
  width: 250px;
  margin: auto;
  display: block;
  margin-top: 50px;
}

.text-input{
  width:250px;

}
input::-webkit-input-placeholder {
color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;
}

input:-ms-input-placeholder {
color: black !important;
}

.button--next{
  width: 250px;
  padding: 20px 0;
	margin: 30px auto 30px auto;
	display: block;
	background: #D5DEE8;
	border: 15px #D5DEE8;
	color: #FF2A67;
	font-family: 'BreeSerif-Regular', serif;
	font-size: 30px;
	text-transform: lowercase;
}

.profile--card{
	position: relative;
	height: 300px;
 	background-image: url("../images/goodday.png");
}

/*h2.profile--title, h2.profile--content{
	position: absolute;
	bottom: 20px;
	left: 0;
}*/

h2.profile--desc{
	font-size: 20px;
	width: 500px;
	background-color: #FF2A67;
	margin-top: 0;
}
h1.profile--title{
	font-size: 50px;
	margin-bottom: 0;
}

h2.profile--desc,
h1.profile--title,
h2.profile--rating{
	font-family: 'BreeSerif-Regular', serif;
  	text-shadow: 0 0 30px black;
  	color: white;
}

.profile--content{
	position: absolute;
	left: 0;
	bottom: 0;
}

.search-input{
  width: 100%;
}

.u_profile--card-u{
  height: 150px;
  width: 400px;
  background-color: red;
  display: inline-block;
  padding-right:0;
  margin-right:0;
}

.u_profile--card-credits{
  height: 150px;
  width: 200px;
  background-color: white;
  display: inline-block;
  padding-left: 0;
  margin-left: 0;

}

.u_profile--tabs{
	width: 600px;
	margin-left: 6px;
}

.userprofile_list{
	width: 590px;
	margin-top: 15px;
	margin-left: 15px;
}
.welcome--card{
	height: 500px;
	width: 300px;
	padding: 1px 0 0 0;
	display: block;
	margin: auto;
	padding-top: 50px;
	position: relative;
}

.welcome--card_text{
	position: absolute;
	bottom: 0;
}

.welcome--image_card{
	height: 300px;
	background-image: url("../images/boutiquesalon.jpg");
	padding-top: 20px;
}
.welcome--image_cardA{
  height: 300px;
  background-image: url("../images/maps.jpg");
  padding-top: 20px;
  background-size: cover;
}


.homepage-icons{
  width: 200px;

}
.logo_header{
  padding-bottom: 60px;
}

.homepage_search{
  padding-bottom: 25px;
  text-align: center;
}

.homepage{
  font-family: 'BreeSerif-Regular', serif;
}

.homepage_search h2{
  font-family: 'BreeSerif-Regular', serif;
}

.button--homepage_nails{
  background-image: url("../images/nails.jpg");
  background-size: cover;
}

.button--homepage_eyelash{
  background-image: url("../images/eyelash.jpg");
  background-size: cover;
}

.button--homepage_hair{
  background-image: url("../images/hair.jpg");
  background-size: cover;
}

.button--homepage_misc{
  background-image: url("../images/misc.jpg");
  background-size: cover;
}
.calendar{
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
}
